@import url('https://fonts.googleapis.com/css?family=Lato');
/* Space out content a bit */
body {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
  background-color: rgb(51,51,51);
  margin: 0 auto;
}
* {
    color: white;
    font-family: 'Lato', sans-serif;
    word-spacing: 1.5px; 
    letter-spacing: 1px;
}
a {
    color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}


.bg1 {
    background-color: rgb(36,36,36);
    margin-top: 15px;
    position: relative;
    padding: 25px;
}
.shadow {
    -webkit-box-shadow: 1px 1px 1px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 1px 2px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 1px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.navbar-default {
    background-color: rgb(0,100,0);
}
.nav {
    position: relative;
    left: -50px;
}
.fa-search,
.fa-home {
  color: rgb(0,0,0);
}

input[type=text] {
    border: 1px solid rgb(0,0,0);
    border-radius: 0;
}
.btn-default {
    border: 1px solid rgb(0,0,0);
    border-radius: 0;
    color: rgb(0,0,0);
}


.pdf-btn {
  background-color: rgb(0,100,0);
  border: 1px solid rgb(0,0,0);
  border-radius: 0;
  margin: 5px;
}

.fa-code-fork {
  color: rgb(0,0,0);
}
ul {
  list-style: none;
}
ul li {
  padding: 5px 0 5px 30px;
  position: relative;
}
ul li:before {
  content: '\f085';
  color: rgb(0,100,0);
  font-family: 'FontAwesome';
  position: absolute;
  top: 6px;
  left: 5px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.social-icons {
  padding: 3px 10px 3px 10px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Supporting marketing content */
.content {
  margin: 40px 0;
}
.content p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}